.page-wrapper {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-image: "./images/checkout-bg.jpg";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h2 {
  color: #0e206f;
}

ul {
  list-style-type: none;
  margin-top: 3rem;
  padding-left: 0;
}

li {
  border: 1px solid #f0f4ff;
  border-radius: 12px;
  margin: 12px auto;
  height: fit-content;
  width: fit-content;
  padding-block: 12px;
  padding-inline: 32px;
  background-color: #f0f4ff;
}

a {
  color: #2d5fe8;

  font-weight: 700;
  text-decoration: none;
  font-size: large;
}

.navLinks {
  display: flex;
  width: 100dvw;
  justify-content: end;
  align-items: center;
  margin-right: 20px;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    margin-right: 0;
    align-items: flex-end;
  }
}
